<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-white">

    <main class="p-4 h-screen w-screen flex flex-col justify-center items-center">
        <!-- Upload Button -->
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-6"
            onclick="showUploadPopUp()">
            Choose File
        </button>

        <!-- Upload Pop-up Form -->
        <div class="pop hidden fixed top-0 left-0 h-screen w-screen flex justify-center items-center bg-gray-100 dark:bg-gray-800 gap-1">
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-xl w-96">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <!-- File Dropzone -->
                    <label for="dropzone-file"
                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 dark:border-gray-600 border-dashed rounded-lg cursor-pointer bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-600 dark:text-gray-300" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-600 dark:text-gray-300">
                                <span class="font-semibold">Click to upload</span> or drag and drop
                            </p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" name="file" />
                    </label>

                    <!-- Upload Button -->
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-3 w-full">
                        Upload File
                    </button>
                </form>

                <!-- Close Button -->
                <button onclick="hidePopUp()"
                    class="mt-3 text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white w-full py-2 rounded-lg">
                    Close
                </button>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>
        function showUploadPopUp() {
            document.querySelector('.pop').style.display = "flex";
        }

        function hidePopUp() {
            document.querySelector('.pop').style.display = "none";
        }
    </script>
</body>

</html>
